In [1]:
import pandas as pd

In [2]:
compra_itens=pd.read_csv('compra_itens.csv')

In [3]:
produtos = pd.read_csv('produto.csv', sep=';', encoding='latin1')

In [4]:
compras = pd.read_csv('compra.csv', delimiter=';')

In [5]:
fornecedores = pd.read_csv('fornecedores.csv', delimiter=';', encoding='latin-1')

In [6]:
vendas=pd.read_csv('venda.csv', delimiter=';', encoding='latin-1')

In [7]:
clientes=pd.read_csv('clientes.csv', delimiter=';', encoding='latin-1')

In [8]:
venda_cliente = pd.merge(vendas[['FLOJA','IDPEDIDO','IDCLI','SI_CAIXA','FDATAEMI','HORA','FVALVENDA']],clientes[['IDFORN','NOMEFORN']],how='left',left_on='IDCLI',right_on='IDFORN')
venda_cliente.rename(columns= {'NOMEFORN': 'NOMECLI'}, inplace=True)
venda_cliente.drop('IDFORN', axis='columns')
del venda_cliente['IDFORN']

In [9]:
venda_cliente['NOMECLI'].fillna('Consumidor final', inplace=True)
venda_cliente

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
1,1,V24252C1736,1736,1,08/01/2023,14:20,1100.00,Consumidor final
2,1,V24258C1119,1119,1,08/01/2023,16:54,750.00,QUALITECH TECNO
3,1,V24260C1336,1336,1,08/02/2023,08:12,2090.00,Consumidor final
4,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
...,...,...,...,...,...,...,...,...
97,1,V24538C1794,1794,1,08/28/2023,11:20,84.00,Consumidor final
98,1,V24547C1390,1390,1,08/29/2023,09:40,800.00,Consumidor final
99,1,V24550C516,516,1,08/29/2023,10:35,57.34,POSTO OPCAO JD
100,1,V24551C1798,1798,1,08/29/2023,10:51,1875.51,Consumidor final
101,1,V24552C1798,1798,1,08/29/2023,10:52,1875.51,Consumidor final

In [10]:
forn_831 = venda_cliente['IDCLI'] == 831

In [11]:
venda_cliente[forn_831]

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
4,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
8,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
9,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
17,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO
18,1,V24298C831,831,1,08/03/2023,16:13,4704.60,SHOPPING DOS CO
35,1,V24249C831,831,1,08/07/2023,14:53,17285.56,SHOPPING DOS CO
36,1,V24339C831,831,1,08/07/2023,15:45,36726.10,SHOPPING DOS CO
59,1,V24408C831,831,1,08/10/2023,16:12,41269.40,SHOPPING DOS CO
60,1,V24410C831,831,1,08/10/2023,16:28,23250.24,SHOPPING DOS CO
65,1,V24426C831,831,1,08/11/2023,16:28,338.20,SHOPPING DOS CO

In [12]:
forn_831_2 = venda_cliente.query('IDCLI == 831 ')
forn_831_2.head()

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
4,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
8,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
9,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
17,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO

In [13]:
#o drop permite que os index resetados fiquem fixos, e nao em  uma coluna posterios
forn_831_2.reset_index(drop=True)

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
1,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
2,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
3,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
4,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO
5,1,V24298C831,831,1,08/03/2023,16:13,4704.60,SHOPPING DOS CO
6,1,V24249C831,831,1,08/07/2023,14:53,17285.56,SHOPPING DOS CO
7,1,V24339C831,831,1,08/07/2023,15:45,36726.10,SHOPPING DOS CO
8,1,V24408C831,831,1,08/10/2023,16:12,41269.40,SHOPPING DOS CO
9,1,V24410C831,831,1,08/10/2023,16:28,23250.24,SHOPPING DOS CO
10,1,V24426C831,831,1,08/11/2023,16:28,338.20,SHOPPING DOS CO

In [14]:
venda_cliente.query('IDCLI == 831 and FVALVENDA > 1000' )

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
4,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
8,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
9,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
17,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO
18,1,V24298C831,831,1,08/03/2023,16:13,4704.60,SHOPPING DOS CO
35,1,V24249C831,831,1,08/07/2023,14:53,17285.56,SHOPPING DOS CO
36,1,V24339C831,831,1,08/07/2023,15:45,36726.10,SHOPPING DOS CO
59,1,V24408C831,831,1,08/10/2023,16:12,41269.40,SHOPPING DOS CO
60,1,V24410C831,831,1,08/10/2023,16:28,23250.24,SHOPPING DOS CO

In [15]:
selecao_1 = (venda_cliente['IDCLI'] == 831) | (venda_cliente['IDCLI'] == 516)
selecao_2 = (venda_cliente['FVALVENDA'] > 100)
selecao_final = selecao_1 & selecao_2
venda_cliente[selecao_final].reset_index(drop=True)

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
1,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
2,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
3,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
4,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO
5,1,V24298C831,831,1,08/03/2023,16:13,4704.60,SHOPPING DOS CO
6,1,V24249C831,831,1,08/07/2023,14:53,17285.56,SHOPPING DOS CO
7,1,V24339C831,831,1,08/07/2023,15:45,36726.10,SHOPPING DOS CO
8,1,V24408C831,831,1,08/10/2023,16:12,41269.40,SHOPPING DOS CO
9,1,V24410C831,831,1,08/10/2023,16:28,23250.24,SHOPPING DOS CO
10,1,V24426C831,831,1,08/11/2023,16:28,338.20,SHOPPING DOS CO
11,1,V24427C516,516,1,08/14/2023,09:38,1000.00,POSTO OPCAO JD

In [16]:
lista_clientes = [831,1736,1119]
clientes_teste = venda_cliente.query('IDCLI in @lista_clientes').reset_index(drop=True)
clientes_teste

,FLOJA,IDPEDIDO,IDCLI,SI_CAIXA,FDATAEMI,HORA,FVALVENDA,NOMECLI
0,1,V24246C831,831,1,08/01/2023,09:10,319.84,SHOPPING DOS CO
1,1,V24252C1736,1736,1,08/01/2023,14:20,1100.00,Consumidor final
2,1,V24258C1119,1119,1,08/01/2023,16:54,750.00,QUALITECH TECNO
3,1,V24264C831,831,1,08/02/2023,08:48,5979.96,SHOPPING DOS CO
4,1,V24271C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
5,1,V24272C831,831,1,08/02/2023,10:26,3751.90,SHOPPING DOS CO
6,1,V24297C831,831,1,08/03/2023,16:12,4704.60,SHOPPING DOS CO
7,1,V24298C831,831,1,08/03/2023,16:13,4704.60,SHOPPING DOS CO
8,1,V24249C831,831,1,08/07/2023,14:53,17285.56,SHOPPING DOS CO
9,1,V24339C831,831,1,08/07/2023,15:45,36726.10,SHOPPING DOS CO
10,1,V24408C831,831,1,08/10/2023,16:12,41269.40,SHOPPING DOS CO
11,1,V24410C831,831,1,08/10/2023,16:28,23250.24,SHOPPING DOS CO
12,1,V24426C831,831,1,08/11/2023,16:28,338.20,SHOPPING DOS CO

In [17]:
for index, row in clientes_teste.head(10).iterrows():
    print(f'indice {index} => {row["NOMECLI"]}')

indice 0 => SHOPPING DOS CO
indice 1 => Consumidor final
indice 2 => QUALITECH TECNO
indice 3 => SHOPPING DOS CO
indice 4 => SHOPPING DOS CO
indice 5 => SHOPPING DOS CO
indice 6 => SHOPPING DOS CO
indice 7 => SHOPPING DOS CO
indice 8 => SHOPPING DOS CO
indice 9 => SHOPPING DOS CO

In [18]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IDFORN     115 non-null    int64
 1   NOMEFORN   115 non-null    object
 2   CP_CIDADE  91 non-null     object
 3   UF         115 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.7+ KB